@use '../../styles/mixins';

.button,
.icon-button {
  @include mixins.flex;

  border: none;
  cursor: pointer;
}

.button {
  padding: 15px;
  background-color: #004a99;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  transition:
    background-color 0.4s,
    box-shadow 0.4s;

  &:hover:not(:disabled) {
    background-color: #006cfc;
  }

  &:active:not(:disabled) {
    box-shadow: 0 0 2px 1px #006cfc;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.icon-button {
  padding: 4px;
  background-color: transparent;
  border-radius: 50%;
  opacity: 1;
  transition:
    background-color 0.4s,
    opacity 0.4s;

  &:hover {
    background-color: rgb(0 0 0 / 10%);
  }

  &:active {
    opacity: 0.8;
  }
}
