.header {
  display: flex;
  width: 100%;
  min-height: 80px;
  padding: 10px 20px;
  background-color: #303f9f;
  color: #fff;

  &-link {
    color: #fff;
    text-decoration: none;
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;

  &-auth {
    margin-left: auto;
  }
}
